<ul id='import-summary' class='list-group'>
  <li id='total-rows' class='list-group-item'>
    <span class='badge'>
      <%= result.total_rows %>
    </span>
    <span class='text-muted'>Total Rows</span>
  </li>

  <li id='successful-rows' class='list-group-item'>
    <span class='badge badge-success'>
      <%= result.imported_rows %>
    </span>
    <span class='text-success'>Valid Rows</span>
  </li>

  <li id='failed-rows' class='list-group-item'>
    <span class='badge badge-error'>
      <%= result.failed_rows %>
    </span>
    <span class='text-danger'>Invalid Rows</span>
  </li>
</ul>
